<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>

<h1 th:text="'List of Vets'">hey there</h1>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">123</td>
        <td th:text="${vet.firstName}">123</td>
        <td th:text="${vet.lastName}">123</td>

    </tr>
</table>

</body>
</html>